body {
    background-color: tomato;
    display: flex;
    justify-content: center;
}

.contenedor {
    height: 37em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chasis {
    height: 35em;
    width: 22em;
    background-color:gold;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.5px solid;
    box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.699);
    border-radius: 10px 10px 60px 10px;
}

/* estilos On/OFF */
.contOnOff {
    width: 22em;
    height: 1.4em;
    /*border: 0.2px solid black;*/
    display: inherit;
}

.btnOnOff {
    text-align: start;
    display: flex;
    padding: 4.5px;
}

.textOn {
    margin: -1em 0em 0em 1em;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.2);
}

.textOff {
    margin: -1em 0em 0em 1.5em;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.2);
}

.point {
    font-size: x-large;
}

/*estilo Pantalla*/
.contPantalla {
    height: 25.5em;
    width: 20em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: gray;
    border: 0.4px solid black;
    border-radius: 5px 5px 40px 5px;
    margin: 1em;
    margin-top: 0em;
}

.pantalla {
    height: 13.5em;
    width: 16.1em;
    margin-top: 1.2em;
    display: flex;
    background-color: rgb(106, 126, 106);
    border: 0.1px solid rgba(0, 0, 0, 0.74);
    border-radius: 2px;
    box-shadow: 1px 3.5px 1px 3px inset;
}

/*estilos logoPocket */
.logoPocket {
    width: 20em;
    height: 1.5em;
    /*border: 0.4px solid black;*/
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.boxTxtGB {
    width: 5.5em;
    height: 1em;
    /*border: 0.1px solid black;*/
    margin-left: 2em;
}

.textGameBoy {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: midnightblue;
}

.boxPocket {
    width: 2.5em;
    height: 0.8em;
    margin-left: -3px;
    background-color: midnightblue;
}

.textPocket {
    margin-top:0px;
    color:rgb(106, 126, 106);
    font-size: 13px;
}

/*estilos logoNintendo*/
.contLogoNintendo {
    width: 22em;
    height: 2em;
    /*background-color: cadetblue;
    border: 0.2px solid black;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoNintendo {
    width: 6.1em;
    height: 1.2em;
    border: 3.3px solid rgba(0, 0, 0, 0.2);
    border-radius: 40px;
}

.textNintendo {
    text-align: center;
    margin-top: -1px;
    color: rgba(0, 0, 0, 0.2);
    font-family: sans-serif;
    font-size: 17px; 
    letter-spacing: 1px;   
}

.rR {
    font-size: 10px;

}

/*estilos botones de juego*/
.contBotones {
    width: 22em;
    height: 7.2em;
    /*border: 0.5px solid black;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.5em;
}

/*botones de Direccion*/
.botonDireccion {
    width: 9.8em;
    height: 7.2em;
    /*border: 0.1px solid black;*/
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    margin-top: 0.2em;
}

.btnFila1 {
    width: 6em;
    height: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.botUp {
    height: 2em;
    width: 2em;
    background-color: rgb(30, 30, 30);
    border:0.5px solid black;
    border-bottom-color:  rgb(30, 30, 30);
    border-radius: 6px 6px 0px 0px;
    margin-top: 0.4px;
}

.btnFila2 {
    width: 6em;
    height: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(30, 30, 30);;
    border-radius: 7px;
}

.botLeft {
    height: 2em;
    width: 2em;
    background-color: rgb(30, 30, 30);
    border: 0.5px solid black;
    border-right-color: rgb(30, 30, 30);;
    border-radius: 6px 0px 0px 6px;
}

.botCentral {
    height: 2em;
    width: 2em;
    background-color:  rgb(30, 30, 30);
    border: 0.5px solid  rgb(50, 50, 50);
    border-radius: 1.5em;
}

.botRigth {
    height: 2em;
    width: 2em;
    background-color:  rgb(30, 30, 30);
    border: 0.5px solid black;
    border-left-color:  rgb(30, 30, 30);
    border-radius: 0px 6px 6px 0px;
}

.btnFila3 { 
    width: 6em;
    height: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.botDown {
    height: 2em;
    width: 2em;
    background-color:  rgb(30, 30, 30);
    border: 0.5px solid black;
    border-top-color:  rgb(30, 30, 30);
    border-radius: 0px 0px 6px 6px;

}
/*Botonea A/B*/
.botonAB {
    width: 12em;
    height: 7.2em;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: end;
    /*background-color: green;*/
}

.btnB {
    height: 2.5em;
    width: 2.5em;
    background-color:indianred;
    border: 0.5px solid black;
    border-radius: 2em;
    margin-top: 2em;
    margin-right: -0.8em;
}

.btnA {
    height: 2.5em;
    width: 2.5em;
    background-color:indianred;
    border: 0.5px solid black;
    border-radius: 2em;
    margin-bottom: 2em;
}

.btnGame{
    font-family: sans-serif;
    font-size: 18px;
    color: midnightblue;
    text-align: center;
    margin-top: 42px;
    
}

/*estilos botones Select/Start y rejilla*/

.contSSR{
    width: 22em;
    height: 6.5em;
    /*border: 0.5px solid black;*/
    display: flex;
    flex-direction: row;
}

.contSlcStr {
    width: 16.5em;
    height: 6.5em;
    /*border: 0.2px solid black;*/
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 0em;
}

.contSelect {
    width: 2.5em;
    height: 0.75em;
    border: 0.5px solid black;
    margin: 0.5em 1.5em 0em 0em;
    text-align: center;
    background-color: darkgray;
    border-radius: 7px;
}

.contStart {
    width: 2.5em;
    height: 0.75em;
    border: 0.5px solid black;
    margin: 0.5em 2em 0em 0em;
    text-align: center;
    background-color: darkgray;
    border-radius: 7px;
}

.textSS {
    font-family: sans-serif;
    font-size: 10px;
    padding: 0px;
    margin-top: 15px;
    color: midnightblue;
    text-align: center;
}

.contRejilla{
    width: 6em;
    height: 6.5em;
    border: 0.2px solid black;
}