body {
    background-color: tomato;
    display: flex;
    justify-content: center;
}

.contenedor {
    height: 37em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chasis {
    height: 34em;
    width: 22em;
    background-color:gold;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.5px solid;
    box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.699);
    border-radius: 10px 10px 60px 10px;
}
.contOnOff{
    width: 22em;
    height: 1em;
    border: 0.2px solid black;
    display:inherit;
    
}

.btnOnOff{
    width: 1.7em;
    height: 0.5em;
    border: 3px solid black;
}

.contPantalla {
    height: 16em;
    width: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: gray;
    border: 0.4px solid black;
    border-radius: 2px 2px 40px 2px;
    margin: 1em;
    margin-top: 0.5em;
}

.pantalla {
    height: 12.5em;
    width: 16em;
    margin-top: -0.7em;
    display: flex;
    background-color: rgb(106, 126, 106);
    box-shadow: 2px 4px 2px 0.5px inset;
}

.contBotones{
    width: 22em;
    height: 7.2em;
    /*border: 0.5px solid black;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.7em;
}

.botonDireccion{
    width: 9.8em;
    height: 7.2em;
    /*border: 0.1px solid black;*/
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    
}

.btnFila1{
    width: 7.5em;
    height: 2.4em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.botUp {
    height: 2.25em;
    width: 2.25em;
    background-color: rgb(30, 30, 30);
    border:0.5px solid black;
    border-bottom-color:  rgb(30, 30, 30);
    border-radius: 6px 6px 0px 0px;
    margin-top: 0.4px;
}

.btnFila2{
    width: 7.1em;
    height: 2.4em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(30, 30, 30);;
    border-radius: 7px;
}

.botLeft {
    height: 2.25em;
    width: 2.25em;
    background-color: rgb(30, 30, 30);
    border: 0.5px solid black;
    border-right-color: rgb(30, 30, 30);;
    border-radius: 6px 0px 0px 6px;
}

.botCentral {
    height: 2.25em;
    width: 2.25em;
    background-color:  rgb(30, 30, 30);
    border: 0.5px solid  rgb(50, 50, 50);
    border-radius: 1.5em;
}

.botRigth{
    height: 2.25em;
    width: 2.25em;
    background-color:  rgb(30, 30, 30);grey;
    border: 0.5px solid black;
    border-left-color:  rgb(30, 30, 30);;
    border-radius: 0px 6px 6px 0px;
}

.btnFila3{
    width: 7.5em;
    height: 2.4em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.botDown{
    height: 2.25em;
    width: 2.25em;
    background-color:  rgb(30, 30, 30);
    border: 0.5px solid black;
    border-top-color:  rgb(30, 30, 30);;
    border-radius: 0px 0px 6px 6px;
   
}

.botonAB{
    width: 12em;
    height: 7.2em;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    /*background-color:indianred;*/
}

.btnA{
    height: 3.7em;
    width: 3.7em;
    background-color:indianred;
    border: 0.5px solid black;
    border-radius: 2em;
    margin-top: 1.7em;
}

.btnB{
    height: 3.7em;
    width: 3.7em;
    background-color:indianred;
    border: 0.5px solid black;
    border-radius: 2em;
    margin-bottom: 1.7em;
}
